colorama==0.4.6 ; python_full_version >= "2.7.18" and python_version < "3.0" or python_version >= "3.8" and python_version < "3.13"
colorlog==4.8.0 ; python_full_version >= "2.7.18" and python_version < "3.0"
colorlog==6.8.2 ; python_version >= "3.8" and python_version < "3.13"
enum34==1.1.10 ; python_full_version >= "2.7.18" and python_version < "3.0"
future==1.0.0 ; python_full_version >= "2.7.18" and python_version < "3.0"
pathlib==1.0.1 ; python_full_version >= "2.7.18" and python_version < "3.0"
win-unicode-console==0.5 ; python_full_version >= "2.7.18" and python_version < "3.0" and platform_system == "Windows" or python_version >= "3.8" and python_version < "3.13" and platform_system == "Windows"
